$gutters: 4rem;
$grid-layout: (
  columns: 12,
  gutter: $gutters,
);

@mixin col($cols) {
  + .col-#{$cols} {
    margin-top: 2rem;
  }

  @include wide-screens {
    @include grid-column($cols, $grid-layout);
    + .col-#{$cols} {
      margin-top: 0;
    }
  }
}

.row {
  @include wide-screens {
    @include grid-container;
    margin: 0 (-1 * $gutters);
  }
}

.row--reverse {
  @include medium-screens {
    display: flex;
    flex-direction: column-reverse;
  }

  > :first-child {
    margin-top: 2rem;
    @include wide-screens {
      margin-top: 0;
    };

    + div {
      margin-top: 0;
    }
  }
}

.row--centered {
  display: flex;
  align-items: center;

  @include medium-screens {
    display: flex;
    flex-direction: column-reverse;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} { @include col($i) }
}
