.btn {
  display: inline-block;
  border: none;
  border-radius: 6.25rem;
  padding: 0.625rem 3rem;
  background: $grey-2;
  color: $white;
  font-weight: 600;

  &--primary {
    background-color: $blue-2;
  }
}
