$gutters: 1.875rem;
$card-layout: (
  columns: 4,
  gutter: $gutters,
);

.card-row {
  margin-top: -0.625rem;

  @include wide-screens {
    @include grid-container;
    margin: 0 (-1 * $gutters);
    display: flex;
  }
}

.card-col {
  display: flex;

  @include wide-screens {
    @include grid-column(1, $card-layout);
  }

  .card {
    width: 80%;
    margin: 0.625rem auto;

    @include wide-screens {
      width: auto;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #fff;
  border-radius: 0.625rem;
  text-align: center;
  padding: 2.125rem 1.5rem;
  box-shadow: 0 4px 14px 0 rgba(51, 63, 72, 0.26);

  &--big {
    margin: .625rem 2rem;

    .card__body {
      @include wide-screens {
        margin-left: 4rem;
        margin-right: 4rem;
      }
    }
  }

  &__img {
    margin: 0 auto;
  }

  &__title {
    margin: 1.875rem 0 0.625rem;
    font-weight: 600;
    color: $heading-colour;
    text-transform: uppercase;
  }

  &__body {
    opacity: 0.8;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    color: $text-colour;
  }
}
