$margin-top-bottom-offset: 0.625rem;
$gutters: 1.875rem;
$foo-layout: (
  columns: 3,
  gutter: $gutters,
);

.proof-point-row {
  margin: 1.5rem 0;

  @include wide-screens {
    @include grid-container;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem -1 * $gutters;
  }
}

.proof-point-col {
  + .proof-point-col {
    margin-top: 1rem;
  }
  @include wide-screens {
    @include grid-column(1, $foo-layout);
    + .proof-point-col {
      margin-top: 0;
    }
  }
}

.proof-point {
  display: flex;
  text-align: left;

  &--centered {
    text-align: center;
    align-items: center;
  }

  &--small {
    .proof-point__title {
      font-size: 1.125rem;
    }
  }

  &__icon {
    display: block;
    margin-right: 1.25rem;
    max-width: 3rem;
    max-height: 3rem;
  }

  &__title {
    color: $heading-colour;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
  }
}
