.section {
  margin-top: 5.75rem;
  margin-bottom: 3rem;

  .section__img {
    max-width: 100%;
  }

  .section__img--wide {
    @include medium-screens {
      max-width: 100%;
    }
  }

  .section__title {
    color: #333f48;
    font-size: 2.25rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  .section__body {
    margin-bottom: 1.125rem;
  }

  .section__links {
    margin-top: -0.75rem;
    display: inline-block;
  }

  .section__link {
    margin-top: 0.75rem;
    width: 50%;
    float: left;
  }
}
