// Breakpoints
$breakpoint-sm: 720px;
$breakpoint-lg: 1024px;

// Colours
$white: #fff;
$grey-1: #d2d6da;
$grey-2: #a5adb5;
$grey-3: #f7f8f9;
$blue: #0c95f3;
$green: #0dfd9a;
$heading-colour: #333f48;
$text-colour: #697684;
$link-colour: #096eb3;
