@import 'common/reset';
@import 'vendor/neat/neat';
$hamburger-layer-color: #fff !default;
$hamburger-types: (slider);
$hamburger-layer-width: 36px !default;
$hamburger-layer-height: 4px !default;
@import 'vendor/hamburgers/hamburgers';

@import 'variables';

@import 'mixins/responsive';

@import 'common/common';
@import 'common/container';
@import 'common/page_wrapper';
@import 'common/grid';
@import 'common/page_gradient';
@import 'common/arrows';

@import 'components/nav';
@import 'components/header';
@import 'components/cards';
@import 'components/section';
@import 'components/testimonial';
@import 'components/proof_points';
@import 'components/feed';
@import 'components/timeline';
@import 'components/ctas';
@import 'components/footer';

@import 'vendor/slick';
@import 'vendor/slick-theme';
