<div class="testimonial">
  <img class="testimonial__image" src="http://placeholder.pics/svg/200x200" alt="">
  <p>
    <blockquote>
      <p class="testimonial__quote">“You will be hard pressed to find a more highly respected forex broker in the market than OANDA. The firm, established in 1996, was one of the original pioneers that toiled to make retail forex trading a reality and leveraged its early successes to become an industry powerhouse.”</p>
      <footer>
        <p class="testimonial__name">John Smith</p>
        <p class="testimonial__role">Editor, Forex first</p>
      </footer>
    </blockquote>
</div>
