<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.Site.Title}}</title>
  <link rel="icon" href="{{ .Site.BaseURL }}/favicon.ico">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500|Roboto:500" rel="stylesheet">
</head>
<body>
  <div class="page-wrapper">
    {{ partial "common/nav" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "common/footer" . }}
    {{ partial "common/page-gradient" . }}
  </div>

  <!-- Dem JS -->
  <script src="{{ .Site.BaseURL }}/js/jquery-3.2.1.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/slick.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/nav.js"></script>
  <script src="{{ .Site.BaseURL }}/js/oanda.js"></script>
</body>
</html>
