<div class="proof-point-row proof-point-row--bio">
  <div class="bio-title">Marketpulse editorial team</div>

  <div class="proof-point-bio-col">
    <div class="proof-point proof-point--bio">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/60" alt="">
      <div>
        <p class="proof-point__title">Dean Popplewell</p>
        <p>Vice President of Market Analysis</p>
        <p>Toronto</p>
      </div>
    </div>
  </div>

  <div class="proof-point-bio-col">
    <div class="proof-point proof-point--bio">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/60" alt="">
      <div>
        <p class="proof-point__title">Dean Popplewell</p>
        <p>Vice President of Market Analysis</p>
        <p>Toronto</p>
      </div>
    </div>
  </div>

  <div class="proof-point-bio-col">
    <div class="proof-point proof-point--bio">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/60" alt="">
      <div>
        <p class="proof-point__title">Dean Popplewell</p>
        <p>Vice President of Market Analysis</p>
        <p>Toronto</p>
      </div>
    </div>
  </div>

  <div class="proof-point-bio-col">
    <div class="proof-point proof-point--bio">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/60" alt="">
      <div>
        <p class="proof-point__title">Dean Popplewell</p>
        <p>Vice President of Market Analysis</p>
        <p>Toronto</p>
      </div>
    </div>
  </div>

  <div class="proof-point-bio-col">
    <div class="proof-point proof-point--bio">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/60" alt="">
      <div>
        <p class="proof-point__title">Dean Popplewell</p>
        <p>Vice President of Market Analysis</p>
        <p>Toronto</p>
      </div>
    </div>
  </div>

  <div class="proof-point-bio-col">
    <div class="proof-point proof-point--bio">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/60" alt="">
      <div>
        <p class="proof-point__title">Dean Popplewell</p>
        <p>Vice President of Market Analysis</p>
        <p>Toronto</p>
      </div>
    </div>
  </div>
</div>
