<div class="card-row">
  <div class="card-col-4">
    <div class="card card--left">
      <div class="card__stripe"></div>
      <div class="card__main">
        <p class="card__title">Desktop trading</p>
        <p class="card__body">Powerful, and advanced trading. Easy to use, customizable platform</p>
      </div>

      <div class="card__footer">
        <a href="#" class="chevron card__link">Explore desktop</a>
      </div>
    </div>
  </div>

  <div class="card-col-4">
    <div class="card card--left">
      <div class="card__stripe"></div>
      <div class="card__main">
        <p class="card__title">Mobile trading</p>
        <p class="card__body">Rich charts and technical analyses. Up to date news and push notifications</p>
      </div>

      <div class="card__footer">
        <a href="#" class="chevron card__link">Get the app</a>
      </div>
    </div>
  </div>

  <div class="card-col-4">
    <div class="card card--left">
      <div class="card__stripe"></div>
      <div class="card__main">
        <p class="card__title">Metatrade 4</p>
        <p class="card__body">Automated trading and full EA support. Customisable indicators and chart trading</p>
      </div>

      <div class="card__footer">
        <a href="#" class="chevron card__link">Get Metatrader 4</a>
      </div>
    </div>
  </div>
</div>
