<div class="container">
  <header class="header header--left">
    <div class="row">
      <div class="col-6">
        <h1 class="header__title">We started Oanda 22 years ago</h1>
        <p class="header__text">We saw a market where brokers and banks were taking advantage of you and your investments – and we knew we could build something better. Trust us with your Forex and CFD trading</p>
        <a href="#" class="header__btn btn btn--primary">Open an account</a>
      </div>

      <div class="col-6">
        <div id="trading-cards" class="cards">
          <div class="card card--big">
            <div class="card__main">
              <img class="card__img" src="http://placeholder.pics/svg/145">
              <p class="card__title">Trading solutions</p>
              <p class="card__body">Trade over 100 instruments such as currency pairs, indices and bonds</p>
            </div>

            <div class="card__footer">
              <a href="#" class="chevron card__link">Learn more</a>
            </div>
          </div>

          <div class="card card--big">
            <div class="card__main">
              <img class="card__img" src="http://placeholder.pics/svg/145">
              <p class="card__title">Trading solutions</p>
              <p class="card__body">Trade over 100 instruments such as currency pairs, indices and bonds</p>
            </div>

            <div class="card__footer">
              <a href="#" class="chevron card__link">Learn more</a>
            </div>
          </div>

          <div class="card card--big">
            <div class="card__main">
              <img class="card__img" src="http://placeholder.pics/svg/145">
              <p class="card__title">Trading solutions</p>
              <p class="card__body">Trade over 100 instruments such as currency pairs, indices and bonds</p>
            </div>

            <div class="card__footer">
              <a href="#" class="chevron card__link">Learn more</a>
            </div>
          </div>

          <div class="card card--big">
            <div class="card__main">
              <img class="card__img" src="http://placeholder.pics/svg/145">
              <p class="card__title">Trading solutions</p>
              <p class="card__body">Trade over 100 instruments such as currency pairs, indices and bonds</p>
            </div>

            <div class="card__footer">
              <a href="#" class="chevron card__link">Learn more</a>
            </div>
          </div>
        </div>
    </div>
  </header>
</div>
