<div class="container">
  <header class="header header--left">
    <div class="row">
      <div class="col-6">
        <h1 class="header__title">We started Oanda 22 years ago</h1>
        <p class="header__text">We saw a market where brokers and banks were taking advantage of you and your investments – and we knew we could build something better. Trust us with your Forex and CFD trading</p>
        <a href="#" class="header__btn btn btn--primary">Open an account</a>
      </div>

      <div class="col-6">
        ???
      </div>
    </div>
  </header>
</div>
