<table class="market-table">
  <thead>
    <th>FX Pair</th>
    <th>Minimum spread</th>
    <th>Average spread</th>
    <th>Margins from</th>
  </thead>
  <tbody>
    <tr>
      <td>EUR/USD</td>
      <td>0.5 points</td>
      <td>0.69 points</td>
      <td>0.5%</td>
    </tr>

    <tr>
      <td>AUD/USD</td>
      <td>0.5 points</td>
      <td>0.73 points</td>
      <td>0.5%</td>
    </tr>

    <tr>
      <td>USD/JPY</td>
      <td>0.5 points</td>
      <td>0.77 points</td>
      <td>0.5%</td>
    </tr>

    <tr>
      <td>GBP/USD</td>
      <td>0.5 points</td>
      <td>1.22 points</td>
      <td>0.5%</td>
    </tr>
  </tbody>
</table>
