<div class="proof-point-row">
  <div class="proof-point-col">
    <div class="proof-point">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
      <div>
        <p class="proof-point__title">Externally sourced pricing</p>
        <p>No "dark pools" or internal liquidity where pricing is exclusively sourced from a global network of premier banks</p>
      </div>
    </div>
  </div>

  <div class="proof-point-col">
    <div class="proof-point">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
      <div>
        <p class="proof-point__title">Automated pricing</p>
        <p>Our system is fully-automated . We do not selectively pick orders, skew your pricing or reject orders</p>
      </div>
    </div>
  </div>

  <div class="proof-point-col">
    <div class="proof-point">
      <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
      <div>
        <p class="proof-point__title">Our technology</p>
        <p>No forwarding of your trades to third parties. Orders are filled even when the markets are moving with no rejections</p>
      </div>
    </div>
  </div>
</div>
