<div class="row">
  <div class="col-3">
    <div class="proof-point proof-point--small">
      <div>
        <p class="proof-point__title">Industry leading platform</p>
        <p>Monitor the markets, manage your portfolio and execute fast. All on Oanda’s customizable platform.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="proof-point proof-point--small">
      <div>
        <p class="proof-point__title">Advanced charting and tools</p>
        <p>Advanced charting, automated technical analysis, market commentary, and trader sentiment.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="proof-point proof-point--small">
      <div>
        <p class="proof-point__title">Transparent pricing</p>
        <p>All our trade accounts have a transparent pricing model and highly competitive spreads.</p>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="proof-point proof-point--small">
      <div>
        <p class="proof-point__title">Exceptional execution</p>
        <p>No last looks, rejections or re-quotes. All forex transactions are fully automated.</p>
      </div>
    </div>
  </div>
</div>
