<div class="section container">
  <div class="row">
    <div class="col-4">
      <div class="proof-point proof-point--centered">
        <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
        <div>
          <p class="proof-point__title">Founded in 1995</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="proof-point proof-point--centered">
        <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
        <div>
          <p class="proof-point__title">Multiple regulators</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="proof-point proof-point--centered">
        <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
        <div>
          <p class="proof-point__title">Offices worldwide</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="proof-point proof-point--centered">
        <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
        <div>
          <p class="proof-point__title">Award winning platform</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="proof-point proof-point--centered">
        <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
        <div>
          <p class="proof-point__title">Exceptional execution</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="proof-point proof-point--centered">
        <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
        <div>
          <p class="proof-point__title">24/5 customer service</p>
        </div>
      </div>
    </div>
  </div>
</div>
