<div class="section section--centered container">
  <h2 class="section__title">Trade your way</h2>
  <p class="section__body section__body--tight">Our multi-device trading platforms bring you advanced charting packages, in-depth market research and powerful trading tools.</p>

  {{ partial "trading/cards.html" . }}

  <div class="image-group">
    <img class="image-group__img" src="http://placeholder.pics/svg/80x75">
    <img class="image-group__img" src="http://placeholder.pics/svg/80x75">
    <img class="image-group__img" src="http://placeholder.pics/svg/80x75">
    <img class="image-group__img" src="http://placeholder.pics/svg/80x75">
    <img class="image-group__img" src="http://placeholder.pics/svg/80x75">
  </div>
</div>
