<div class="section section--grey">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="section__title">Industry leading platform</h2>
        <p class="section__body">Forex and CFD trading might feel complicated,  that is why our designers and engineers created a platform simple and award-winning.</p>
        <a class="chevron" href="#">Explore Oanda's platform</a>
      </div>
      <div class="col-6">
        <img class="section__img section__img--custom-offset" src="http://placeholder.pics/svg/630x512" alt="">
      </div>
    </div>
  </div>
</div>
