<div class="ctas">
  <div class="cta-wrapper">
    <a href="#" class="cta">
      <img class="cta__image" src="http://placeholder.pics/svg/75">
      <p class="cta__link">Trading FAQ</p>
    </a>
  </div>

  <div class="cta-wrapper">
    <a href="#" class="cta">
      <img class="cta__image" src="http://placeholder.pics/svg/75">
      <p class="cta__link">Live chat online now</p>
    </a>
  </div>

  <div class="cta-wrapper">
    <a href="#" class="cta">
      <img class="cta__image" src="http://placeholder.pics/svg/75">
      <p class="cta__link">Call us now</p>
    </a>
  </div>
</div>
