<footer class="footer">
  <div class="container">
    {{ partial "ctas.html" . }}

    <div class="footer-links">
      <div class="col">
        <p class="footer-links__title">Home</p>
        <ul>
          <li class="footer-links__link"><a href="#">Contact us</a></li>
          <li class="footer-links__link"><a href="#">Press room</a></li>
          <li class="footer-links__link"><a href="#">Careers</a></li>
          <li class="footer-links__link"><a href="#">Support</a></li>
        </ul>
      </div>

      <div class="col">
        <p class="footer-links__title">Trading</p>
        <ul>
          <li class="footer-links__link"><a href="#">Forex &amp; CFD</a></li>
          <li class="footer-links__link"><a href="#">Trading markets</a></li>
          <li class="footer-links__link"><a href="#">CFD trading</a></li>
          <li class="footer-links__link"><a href="#">Online trading</a></li>
        </ul>
      </div>

      <div class="col">
        <p class="footer-links__title">Currency</p>
        <ul>
          <li class="footer-links__link"><a href="#">Currency converter</a></li>
          <li class="footer-links__link"><a href="#">Live rates</a></li>
          <li class="footer-links__link"><a href="#">Historical rates</a></li>
        </ul>
      </div>

      <div class="col">
        <p class="footer-links__title">Money transfer</p>
        <ul>
          <li class="footer-links__link"><a href="#">Individual tranfers</a></li>
          <li class="footer-links__link"><a href="#">Business transfers</a></li>
        </ul>
      </div>

      <div class="col">
        <p class="footer-links__title">Solutions for business</p>
        <ul>
          <li class="footer-links__link"><a href="#">Historical currency converter</a></li>
          <li class="footer-links__link"><a href="#">Exchange rates API</a></li>
          <li class="footer-links__link"><a href="#">Corporate FX Payments</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="copyright">
        <img class="copyright__image" src="http://placeholder.pics/svg/35">(C) 1995-2018 Oanda</div>
      <div>
        <a href="#"><img class="copyright__image" src="http://placeholder.pics/svg/25"></a>
        <a href="#"><img class="copyright__image" src="http://placeholder.pics/svg/25"></a>
        <a href="#"><img class="copyright__image" src="http://placeholder.pics/svg/25"></a>
        <a href="#"><img class="copyright__image" src="http://placeholder.pics/svg/25"></a>
      </div>
    </div>
  </div>
</footer>
