<div class="container">
  <nav class="nav">
    <div class="leftnav">
      <a href="#"><img class="logo" src="http://placeholder.pics/svg/160x30"></a>
      <ul class="topnav">
        <li class="topnav__item">
          <a class="nav-link" href="#">Trading</a>
          <ul class="subnav">
            <li class="subnav__item"><a href="#">Trading item 1</a></li>
            <li class="subnav__item"><a href="#">Trading item 2</a></li>
            <li class="subnav__item"><a href="#">Trading item 3</a></li>
            <li class="subnav__item"><a href="#">Trading item 4</a></li>
            <div class="arrow"></div>
          </ul>
        </li>

        <li class="topnav__item">
          <a class="nav-link" href="#">Currency converter</a>
          <ul class="subnav">
            <li class="subnav__item"><a href="#">Currency item 1</a></li>
            <li class="subnav__item"><a href="#">Currency item 2</a></li>
            <li class="subnav__item"><a href="#">Currency item 3</a></li>
            <li class="subnav__item"><a href="#">Currency item 4</a></li>
            <div class="arrow"></div>
          </ul>
        </li>

        <li class="topnav__item">
          <a class="nav-link" href="#">Money transfer</a>
          <ul class="subnav">
            <li class="subnav__item"><a href="#">Money item 1</a></li>
            <li class="subnav__item"><a href="#">Money item 2</a></li>
            <li class="subnav__item"><a href="#">Money item 3</a></li>
            <li class="subnav__item"><a href="#">Money item 4</a></li>
            <div class="arrow"></div>
          </ul>
        </li>

        <li class="topnav__item">
          <a class="nav-link" href="#">Solution for business</a>
          <ul class="subnav">
            <li class="subnav__item"><a href="#">Solutions item 1</a></li>
            <li class="subnav__item"><a href="#">Solutions item 2</a></li>
            <li class="subnav__item"><a href="#">Solutions item 3</a></li>
            <li class="subnav__item"><a href="#">Solutions item 4</a></li>
            <div class="arrow"></div>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  const addClass = (e, className) => {
    e.className += ` ${className}`
  }

  const removeClass = (e, className) => {
    const regex = new RegExp(`${className}`)
    e.className = e.className.replace(regex, '').trim()
  }

  const closeAnyOpenNavs = () => {
    document.querySelectorAll('.topnav__item.hover').forEach((elem) => {
      removeClass(elem, 'hover')
    })
  }

  const onPageClick = (e) => {
    if (e.target.parentElement.className.indexOf('hover') !== -1) return false
    if (e.target.className.indexOf('subnav__link') !== -1) return false
    if (e.target.className.indexOf('subnav') !== -1) return false
    if (!document.querySelector('.topnav__item.hover')) return false

    const elem = document.querySelector('.topnav__item.hover')
    removeClass(elem, 'hover')
    document.removeEventListener('click', onPageClick)
  }

  const onNavLinkClick = (e) => {
    if (e.target.parentElement.className.indexOf('hover') === -1) {
      closeAnyOpenNavs()
      addClass(e.target.parentElement, 'hover')
      document.addEventListener('click', onPageClick);
    } else {
      removeClass(e.target.parentElement, 'hover')
    }
  }

  document.querySelectorAll('.nav-link').forEach(navlink => {
    navlink.addEventListener('click', onNavLinkClick)
  })
</script>
