<div class="section container">
  <div class="row row--reverse row--centered">
    <div class="col-6">
      {{ partial "feed.html" . }}
    </div>
    <div class="col-6">
      <h2 class="section__title">Marketpulse, the beat of the global markets</h2>
      <p class="section__body">MarketPulse is a forex, commodities, and global indices, analysis, and news site. Our main goal is to provide timely and informative commentary on major macroeconomic trends, technical analysis, and worldwide events that impact different asset classes and investors.</p>
      <a class="chevron" href="#">Read Oanda's Marketplace</a>
    </div>
  </div>
</div>
