<div class="section container">
  <div class="row">
    <div class="col-6">
      <h2 class="section__title">Trade the markets</h2>
      <p class="section__body">We are passionate about enabling all our customers to trade the financial markets. That’s why we offer a range of forex and CFD products on our award-winning trading platform.</p>
      <a href="#">Oanda trading solutions</a>
    </div>
    <div class="col-6">
      <img class="section__img--wide" src="http://placeholder.pics/svg/900x300" alt="">
    </div>
  </div>
</div>
