<div class="section container">
  <div class="row">
    <div class="col-6">
      <h2 class="section__title">Leading organisations trust Oanda</h2>
      <p class="section__body">Established in 1996, Oanda is one of the pioneers that made online forex trading a reality. Regulated in six different markets and with offices in all major markets, Oanda provides currency data and services to many companies and organisations.</p>
      <a href="#">Learn more about Oanda</a>
    </div>
    <div class="col-6">
      <img src="http://placeholder.pics/svg/600x300" alt="">
    </div>
  </div>
</div>
