<div class="section section--reverse container">
  <div class="row">
    <div class="col-6">
      <img class="section__img" src="http://placeholder.pics/svg/600x300" alt="">
    </div>
    <div class="col-6">
      <h2 class="section__title">Currency tools</h2>
      <p class="section__body">OANDA Rates™ are the touchstone foreign exchange rates used by corporations, tax authorities, auditing firms, and financial institutions. These daily filtered rates are based on information supplied by leading market data contributors.</p>
      <a href="#">Oanda currency services</a>
    </div>
  </div>
</div>
