<div class="timeline">
  <div class="timeline__inner">
    <div class="top-row">
      <div class="event event--top">
        <span class="date">1995</span> Oanda was co-founded by Dr. Stumm and Dr. Olsen in Toronto
        <div class="arrow arrow--bottom"></div>
      </div>

      <div class="event event--top">
        <span class="date">2001</span> Oanda launches fxTrade desktop platform enabling forex trading from $1
        <div class="arrow arrow--bottom"></div>
      </div>

      <div class="event event--top">
        <span class="date">2010</span> Oanda launches first version of fxTrade mobile app for iOS and Android
        <div class="arrow arrow--bottom"></div>
      </div>
    </div>

    <div class="time"></div>

    <div class="bottom-row">
      <div class="event event--bottom">
        <span class="date">2000</span> Oanda offers FX conversion, localisation and forcasting services
        <div class="arrow arrow--top"></div>
      </div>

      <div class="event event--bottom">
        <span class="date">2006</span> Oanda lauches the Forex Trader’s bill of rights
        <div class="arrow arrow--top"></div>
      </div>

      <div class="event event--bottom">
        <span class="date">2006</span> Oanda lauches the Forex Trader’s bill of rights
        <div class="arrow arrow--top"></div>
      </div>
    </div>
  </div>
</div>
