<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.Site.Title}}</title>
  <link rel="icon" href="./favicon.ico">
  <link rel="stylesheet" href="./css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500|Roboto:500" rel="stylesheet">
</head>
<body>
  <div class="page-wrapper">
    {{ partial "header.html" . }}
    {{ partial "cards.html" . }}
    {{ partial "section1.html" . }}
    {{ partial "divider.html" . }}

    {{ partial "testimonial.html" . }}
    {{ partial "section2.html" . }}
    {{ partial "section3.html" . }}
    {{ partial "proof-points.html" . }}
    {{ partial "section4.html" . }}
    {{ partial "timeline.html" . }}

    {{ partial "footer.html" . }}
    {{ partial "page-gradient.html" . }}
  </div>

  <!-- Dem JS -->
  <script src="./js/jquery-3.2.1.min.js"></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/oanda.js"></script>
</body>
</html>
