<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.Site.Title}}</title>
  <link rel="icon" href="./favicon.ico">
  <link rel="stylesheet" href="./css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500|Roboto:400,500" rel="stylesheet">
</head>
<body>
  {{ partial "header.html" . }}
  {{ partial "footer.html" . }}
</body>
</html>
