.ctas {
  border-bottom: 1px solid $grey-1;

  @include wide-screens {
    display: flex;
    justify-content: space-around;
  }

  .cta-wrapper {
    padding: 1rem 0;
    margin: 1.5rem 0;

    @include wide-screens {
      flex: 1 1 33.333%;
      display: flex;
      justify-content: center;

      + .cta-wrapper {
        border-left: 1px solid $grey-1;
      }
    }
  }

  a {
    display: inline-block;
    margin: 0 auto;
  }
}

.cta {
  display: flex;
  align-items: center;
  @include wide-screens {
    justify-content: center;
  }
  color: $text-colour;

  &__image {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
}
