$gutters: 2rem;
$gutters-mobile: 1rem;

$grid-layout: (
  columns: 5,
  gutter: $gutters,
);
$grid-layout-mobile: (
  columns: 2,
  gutter: $gutters-mobile,
);

.footer {
  @include wide-screens {
    margin-top: 6rem;
  }
  background-color: $grey-3;
  border-top: 1px solid $grey-1;

  &__bottom {
    border-top: 1px solid $grey-1;
    @include wide-screens {
      display: flex;
      justify-content: space-between;
    }
    padding: 2rem 0 4rem;
  }
}

.copyright {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  @include wide-screens {
    margin-bottom: 0;
  }

  &__image {
    margin-right: 0.75rem;
  }
}

.footer-links {
  @include grid-container;
  display: flex;
  flex-wrap: wrap;

  margin: 0.5rem (-1 * $gutters-mobile) 3rem;
  @include wide-screens {
    margin: 3rem (-1 * $gutters)
  }

  &__title {
    color: $heading-colour;
    margin-bottom: 0.75rem;
  }

  &__link {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.375rem 0;

    a {
      color: $text-colour;
    }
  }

  &__col {
    @include grid-column(1, $grid-layout-mobile);
    margin-top: 2.5rem;

    @include wide-screens {
      margin-top: 0;
      @include grid-column(1, $grid-layout);
    }
  }
}
