.header {
  margin: 3.25rem 0;
  @include wide-screens {
    margin-top: 4rem;
  }
  color: #fff;
  text-align: center;

  &__title {
    font-size: 3rem;
    line-height: 3.625rem;
    margin-bottom: 1rem;
    color: $white;

    @include medium-screens {
      font-size: 2.25rem;
      line-height: 2.625rem;
      margin-bottom: 1.25rem;
    }
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875rem;
    max-width: 40.25rem;
    margin: 0 auto;
  }

  &__btn {
    margin-top: 1.5rem;
  }

  &--left {
    text-align: left;
  }
}
