<div class="container container--cards">
  <div class="cards">
      <div class="card">
        <div class="card__main">
          <img src="http://placeholder.pics/svg/75">
          <p class="card__title">Trading solutions</p>
          <p class="card__body">Trade over 100 instruments such as currency pairs, indices and bonds</p>
        </div>

        <div class="card__footer">
          <a href="#" class="chevron card__link">Learn more</a>
        </div>
      </div>

      <div class="card">
        <div class="card__main">
          <img src="http://placeholder.pics/svg/75">
          <p class="card__title">Currency converion</p>
          <p class="card__body">Access current and historical rates for all the world's leading currencies, and four metals</p>
        </div>

        <div class="card__footer">
          <a href="#" class="chevron card__link">Learn more</a>
        </div>
      </div>

      <div class="card">
        <div class="card__main">
          <img src="http://placeholder.pics/svg/75">
          <p class="card__title">Money transfer</p>
          <p class="card__body">Money transfer and international payments made simple</p>
        </div>

        <div class="card__footer">
          <a href="#" class="chevron card__link">Learn more</a>
        </div>
      </div>

      <div class="card">
        <div class="card__main">
          <img src="http://placeholder.pics/svg/75">
          <p class="card__title">Business solutions</p>
          <p class="card__body">Automate currency data input with customized integration of OANDA exchange rates</p>
        </div>

        <div class="card__footer">
          <a href="#" class="chevron card__link">Learn more</a>
        </div>
      </div>
  </div>
</div>
