<div class="feed">
  <div class="feed-item">
    <div>
      <img class="feed-item__img" src="http://placeholder.pics/svg/67x67" alt="">
    </div>

    <div>
      <h4 class="feed-item__title"><a href="#">GBP/USD – Pound Pummeled</a></h4>
      <p class="feed-item__body">Sterling has turned lower after a speech by Bank of England Deputy Governor Ben Broadbent.</p>
      <p class="feed-item__date">11 July 2017</p>
    </div>
  </div>

  <div class="feed-item">
    <div>
      <img class="feed-item__img" src="http://placeholder.pics/svg/67x67" alt="">
    </div>

    <div>
      <h4 class="feed-item__title"><a href="#">CAC edges lower</a></h4>
      <p class="feed-item__body">The index is currently trading at 5156.30 and is down 0.27% on the day. </p>
      <p class="feed-item__date">11 July 2017</p>
    </div>
  </div>

  <div class="feed-item">
    <div>
      <img class="feed-item__img" src="http://placeholder.pics/svg/67x67" alt="">
    </div>

    <div>
      <h4 class="feed-item__title"><a href="#">Rate differentials hinder Yen</a></h4>
      <p class="feed-item__body">Capital markets continue to watch for cues on monetary policy.</p>
      <p class="feed-item__date">11 July 2017</p>
    </div>
  </div>
</div>
