<div class="proof-points">
  <div class="proof-point">
    <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
    <div>
      <p class="proof-point__title">Exchange rate API</p>
      <p>OANDA FX rates® are the gold standard in foreign exchange data.</p>
    </div>
  </div>

  <div class="proof-point">
    <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
    <div>
      <p class="proof-point__title">Corporate FX payments</p>
      <p>Access 170 countries and territories, with the ability to send money in over 130 currencies.</p>
    </div>
  </div>

  <div class="proof-point">
    <img class="proof-point__icon" src="http://placeholder.pics/svg/50x50" alt="">
    <div>
      <p class="proof-point__title">Historical currency rates</p>
      <p>Access up to 25 years of historical exchange rates for over 38,000 currency pairs.</p>
    </div>
  </div>
</div>
