<div class="section container">
  <div class="row row--centered">
    <div class="col-4">
      <h2 class="section__title">Oanda—trusted by clients around the world since 1995</h2>
      <p class="section__body">Our vision is to democratize the global financial markets to help our clients discover new opportunities.</p>
      <ul class="section__links">
        <li class="section__link"><a class="chevron" href="#">About Oanda</a></li>
        <li class="section__link"><a class="chevron" href="#">Leadership team</a></li>
        <li class="section__link"><a class="chevron" href="#">Careers</a></li>
        <li class="section__link"><a class="chevron" href="#">Our lab</a></li>
      </ul>
    </div>
    <div class="col-8">
      {{ partial "home/timeline.html" . }}
    </div>
  </div>
</div>
